<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    {% seo %}

    <link rel="stylesheet" href="assets/dist/reset.css">
    <link rel="stylesheet" href="assets/dist/reveal.css">
    <link rel="stylesheet" href="assets/dist/theme/black.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <!-- Theme used for syntax highlighted code -->
    <link rel="stylesheet" href="assets/plugin/highlight/monokai.css">
    <!-- <link rel="stylesheet" href="{{ " /assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}"> -->
</head>

<body>
    <div class="reveal">
        <article id="_date">FEB. 2025 — Designing For Greater Evil</article>
        <header>
        </header>
        <div class="slides">
            <!-- <section data-markdown="{{ page.title }}slides.md" data-background-image="assets/images/bg1.png"
                data-separator="^\n---\n$" data-vertical="^\n------\n$" data-notes="^Notes:" data-charset="iso-8859-15">
            </section> -->
            {{ content }}
        </div>
    </div>

    <script src="assets/dist/reveal.js"></script>
    <script src="assets/plugin/notes/notes.js"></script>
    <script src="assets/plugin/markdown/markdown.js"></script>
    <script src="assets/plugin/highlight/highlight.js"></script>
    <script>
        // More info about initialization & config:
        // - https://revealjs.com/initialization/
        // - https://revealjs.com/config/
        Reveal.initialize({
            hash: true,
            progress: true,
            center: true,
            // Learn about plugins: https://revealjs.com/plugins/
            plugins: [RevealMarkdown, RevealHighlight, RevealNotes],
        });
    </script>
</body>

</html>